<h2>User info</h2>

  <div class="profile">
    <%= attachment_image_tag user, :profile_image, size:"100x100", fallback:"no_image.jpg" %>

    <table class="table table-sm">
      <tr><th>name</th> <th style="width:20px;"><%= user.name %></th></tr>
      <tr><th>Introduction</th> <th style="width:20px;"> <%= user.introduction %></th></tr>
      <tr><th>フォロー数: </th> <th style="width:20px;"><%= link_to user.followings.count, follows_user_path(@user.id) %></th></tr>
      <tr><th>フォロワー数: </th> <th style="width:20px;"><%= link_to user.followers.count, followers_user_path(@user.id) %></th></tr>
    </table>

  <% if @user == current_user %>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block btn-sm" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <% if current_user != user %>
      <% if user.followed_by?(current_user) %>
      <p><%= link_to "フォロー外す", user_relationships_path(user.id), class:'btn btn-sm btn-success', method: :delete %></p>
       <% else %>
       <p><%= link_to "フォローする", user_relationships_path(user.id), class:'btn btn-sm btn-success', method: :post %></p>
      <% end %>
    <% end %>
  <% end %>
</div>