<!--ユーザ情報挿入-->
<%= render 'users/userinfo'%>

<!--新規投稿フォーム挿入-->
<%= render template: "books/_new" %>

<h1>Users</h1>
<table class="users-table">
  <tr>
    <th>Image</th>
    <th>name</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, size:"60x60", format: 'jpeg', fallback: "no_image.jpg" %></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user_path(user.id) %></td>
  </tr>
  <% end %>
</table>