<!--ユーザ情報挿入-->
<%= render 'users/userinfo'%>

<!--新規投稿フォーム挿入-->
<%= render template: "books/_new" %>

<h1>Book detail</h1>

  <table class="book-table">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>

    <tr>
      <td><%= link_to user_path(@book.user.id) do %>
            <%= attachment_image_tag @user, :profile_image, size:"60x60", format: 'jpeg', fallback: "no_image.jpg" %><br/>
            <%= @book.user.name %>
          <% end %>
      </td>
      <td><%= link_to @book.title, book_path(params[:id]) %></td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
        <td><%= link_to 'Edit',  edit_book_path(params[:id]) %></td>
        <td><%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?" %></td>
      <% end %>
   </tr>
  </table>
